nav {
  position: relative;
  border-radius: 8px;
  font-size: 0;
}

nav a {
  position: relative;
  display: inline-block;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  text-decoration: none;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}

nav .animation {
  position: absolute;
  width: 100px;
  height: 100%;
  top: 0;
  z-index: 0;
  background-color: rgb(100 116 139 / 0.1);
  border-radius: 8px;
  transition: all 0.5s ease 0s;
  opacity: 0;
}

a:nth-child(1) {
  width: 100px;
}

nav #kanan-satu a:nth-child(1) {
  width: 80px;
}

nav .start-home,
a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
  opacity: 100;
}

a:nth-child(2) {
  width: 100px;
}

nav .start-home,
a:nth-child(2):hover ~ .animation {
  width: 100px;
  left: 100px;
  opacity: 100;
}

a:nth-child(3) {
  width: 100px;
}

nav .start-home,
a:nth-child(3):hover ~ .animation {
  width: 100px;
  left: 200px;
  opacity: 100;
}

a:nth-child(4) {
  width: 100px;
}

nav .start-home,
a:nth-child(4):hover ~ .animation {
  width: 100px;
  left: 300px;
  opacity: 100;
}

a:nth-child(5) {
  width: 100px;
}

nav .start-home,
a:nth-child(5):hover ~ .animation {
  width: 100px;
  left: 400px;
  opacity: 100;
}
a:nth-child(6) {
  width: 110px;
}

nav .start-home,
a:nth-child(6):hover ~ .animation {
  width: 110px;
  left: 500px;
  opacity: 100;
}
